html,
body {
  height: 100vh;
}

body {
  font: 16px/28px Lato, 'Open Sans', sans-serif;
  color: #333;
  position: relative;
}

:focus,
input:focus {
  outline: none;
  box-shadow: none;
}
a {
  color: #1e3160;
  transition: all .3s ease;
}
a:hover {
  color: #ce2128;
  text-decoration: none;
}

.btn-default {
  padding: 10px 30px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  background: #eee;
  color: #333;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.8px;
  webkit-box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
}

.block-header::after {
  content: "";
  display: block;
  margin: 20px auto;
  height: 3px;
  width: 60px;
  background-color: #ce2128;
}

#header .btn-donate {
  background: #ce2128;
  color: #fff;
  webkit-box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  font-size: 16px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}



#footer .btn-donate {
  background-color: #ce2028;
  position: relative;
}
#footer .btn-donate::before,
#footer .btn-donate::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #ce2028;
  right: -2000px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
.btn-donate span {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 2px 10px;
  border: 2px solid #fff;
}

.navbar-light {
  box-shadow: 0 -5px 30px rgba(78, 82, 99, 0.3);
}



#home-slider {
  position: relative;
  border-bottom: 4px solid #ce2028;
  /* height: 80vh; */
}

#home-slider .social-icons{
  position: absolute;
  right: 50px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#upcoming-events h4 {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #ce2028;
}
#upcoming-events h6 {
  font-size: 14px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
#upcoming-events .event-date {
  background-color: #ce2028;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
#upcoming-events .event-month {
  font-size: 14px;
  line-height: 1;
}
#upcoming-events .event-day {
  font-size: 30px;
  font-weight: 900;
}

#upcoming-events .event-info-item {
  font-size: 14px;
  color: #999;
  line-height: 1.6;
}
#upcoming-events .event-info-item i,
#upcoming-events a {
  color: #333;
}

.widget-holder .entry{
  position: relative;
  height: 100%;
}

.widget-holder .entry,
.widget-holder .entry .entry-attachment,
.widget-holder .entry .entry-attachment figure{
  height: 100%;
}

.widget-holder .entry .entry-body{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px 25px;
  padding-bottom: 60px;
  color: #fff;
}

  .widget-holder .entry .entry-title a,
  .widget-holder .entry h6{
    color: #fff;
  }

  .widget-holder .entry .entry-title a{
    border-bottom: 1px solid transparent;
  }

  .widget-holder .entry .entry-title a:hover{
    border-bottom-color: inherit;
  }

  .widget-holder .entry .thumbnail-attachment img{
    width: 100%;
    height: 100%;
  }

  .widget-holder .entry h6{
    font-size: 16px;
    text-transform: uppercase;
  }

  .widget-holder .entry h6:not(:last-child){
    margin-bottom: 15px;
  }

  .widget-holder .entry .entry-title:not(:last-child){
    margin-bottom: 5px;
  }

  .widget-holder .entry-date{
    color: #909397;
    font-size: 14px;
  }

/*----------- Testimonials --------------*/
.testimonial:not(:last-child){margin-bottom: 40px;}

.testimonial blockquote{
  color: #333;
  font-size: 20px;
  padding: 0;
}

.testimonial h6{
  color: #4b4e50;
  font-weight: 600;
  line-height: 20px;
}

.testimonial h6:not(:last-child){margin-bottom: 20px;}

.testimonial .author-box{
  overflow: hidden;
  line-height: 22px;
  display: table;
}

.testimonial .author-box > *{
  display: table-cell;
  vertical-align: middle;
}

.testimonial:not(.type-2):not(.testimonial-single) .avatar{padding-right: 20px;}

.testimonial .avatar img{
  border-radius: 50%;
  height: auto;
}

.testimonial .author-name{
  font-size: 18px;
  display: block;
  color: #666;
}

.testimonial .author-position,
.testimonial .author-about,
.testimonial .author-company{
  display: block;
  font-size: 16px;
  color: #666;
}

.testimonial .author-name:not(:last-child){
  margin-bottom: 2px;
}

.testimonial .author-position:not(:last-child){
  margin-bottom: 2px;
}

.testimonial .testimonial-holder{margin-bottom: 20px;}

.testimonial.testimonial-single{
  overflow: hidden;
}

.testimonial.testimonial-single .author-box{
  float: left;
  width: 30%;
  margin-right: 30px;
  max-width: 263px;
}

.testimonial.testimonial-single .testimonial-holder{
  float: left;
  width: 67%;
  padding-top: 30px;
}

.testimonial.testimonial-single blockquote:not(:last-child){
  margin-bottom: 20px;
}

.testimonial.testimonial-single blockquote{
  position: relative;
}

.testimonial.testimonial-single blockquote:before{
  content: '“';
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  right: 100%;
  margin-right: 30px;
  margin-top: -15px;
  top: 0;
  width: 68px;
  height: 68px;
  line-height: 100px;
  background: #fff;
  color: #14468c;
  z-index: 9;
}

#partners-sponsors img {
  height: 70px;
  width: auto;
  margin: 5px;
}

#footer {
  overflow: hidden;
}

#footer .ft-top {
  background-color: #1e3160;
}

.newsletter-form .form-control {
  background: transparent;
  /* box-shadow: none; */
  border: 0;
  border-radius: 0;
}
.social-icons > li > a{
  text-align: center;
  line-height: 46px;
  width: 50px;
  height: 50px;
  display: block;
  border: 2px solid #888f9f;
  border-radius: 50px;
  color: #1f325f;
}

.social-icons > li > a:hover{
  border-color: #333;
}

.social-icons.style-2 > li > a{
  border-color: #ccc;
  color: #333;
}

.social-icons.style-2 > li > a:hover{
  border-color: #333;
}

.social-icons.v-type{
margin: -5px 0;
}

.social-icons.v-type > li{
  display: block;
  padding: 5px 0;
}

@media screen and (max-width: 992px) {
  .testimonial.testimonial-single .testimonial-holder {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.8rem;
  }
  #partners-sponsors img {
    height: 50px;
  }
  .testimonial.testimonial-single .author-box {
      float: none;
      width: 90%;
      margin-right: 0;
      max-width: 200px;
      text-align: center;
      margin: 20px auto 0 auto;
  }
  .testimonial.testimonial-single .testimonial-holder {
    width: 90%;
  }
  #footer .btn-donate::before {
      left: -2000px;
  }
}
