html,
body {
  height: 100vh;
}

body {
  color: #333;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

body:not(.home) {
  padding-top: 106px;
}

:focus,
input:focus {
  outline: none;
  box-shadow: none;
}
a {
  color: #1e3160;
  transition: all .3s ease;
}
a:hover {
  color: #ce2128;
  text-decoration: none;
}


img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

.container.extra-size {
  max-width: 1570px;
}

.bg-primary {
  background-color: #1f325f !important;
}

.bg-secondary {
  background-color: #ce2128 !important;
}

.bg-light {
  background-color: #e7ecf3 !important;
}
.bg-gray {
  background-color: #f6f6f6 !important;
}

.text-primary {
  color: #1f325f !important;
}
.text-secondary {
  color: #ce2128 !important;
}

.truncate-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-header h1 {
  color: #1f325f;
}

.block-header::after {
  content: "";
  display: block;
  margin: 20px auto;
  height: 3px;
  width: 60px;
  background-color: #ce2128;
}
.block-header span {
  background-color: #ce2228;
  color: #fff;
  border-radius: 50px;
  height: 44px;
  width: 44px;
  display: inline-block;
  line-height: 44px;
  font-size: 30px;
  font-weight: 600;
}

#header .btn-donate {
  color: #ce2228;
  font-size: 30px;
  margin-right: .25rem;
  position: relative;
  z-index: 99;
}
#header .links-section {
  position: relative;
  z-index: 99;
}
#header .navbar-toggler,
#header .navbar-brand {
  z-index: 99;
}
#header .give-display-button {
  display: inline-block;
  margin-right: 35px;
  position: relative;
  top: -6px;
  z-index: 99;
}
#header .give-display-button>form {
  margin: 0 !important;
}


#header .give-btn-modal {
  background: #ce2128;
  color: #fff;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  font-size: 16px;
  letter-spacing: 1.2px;
  border-radius: 3px;
  border: 0;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 12px 20px;
}


.offcanvas-collapse {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  padding: 150px 0;
  visibility: hidden;
  overflow-y: auto;
  background-color: #fff;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-box-shadow: -12px 1px 25px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -12px 1px 25px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -12px 1px 25px 0px rgba(0, 0, 0, 0.1);


  /* position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #fff;
  z-index: 98;
  text-align: right;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);

  overflow-x: hidden;
  overflow-y: auto; */

}
.offcanvas-collapse.open {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#header .navbar-nav {
  text-align: right;
}
#header .navbar-nav > li > a{
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
}

#header .navbar-nav > li > a{
  padding: 16px 130px 16px 20px;
  display: block;
  font-family: 'Lato', sans-serif;
}

#header .navbar-nav > li.dropdown > a:after{
  content: "";
  display: block;
  font-size: 18px;
  margin-left: 20px;
  letter-spacing: 0.3px;
}

#header .navbar-nav > li.current > a,
#header .navbar-nav > li:hover > a{
  background-color: #f6f6f6;
  color: #325794;
}

#header .navbar-nav li.dropdown > .dropdown-menu{
  display: none;
  position: relative;
  background-color: #f6f6f6;
}

#header .navbar-nav .dropdown-menu > ul > li > a{
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}

#header .navbar-nav .sub-menu-wrap ul > li:not(.dropdown) > a{
  padding-right: 160px;
}

#header .navbar-nav.sub-menu-wrap > ul > li:hover > a,
#header .navbar-nav.sub-menu-wrap > ul > li:current > a{
  background: #14468c;
  color: #fff;
  text-decoration: underline;
}
#footer {
  color: #e7ecf3;
  position: relative;
  overflow: hidden;
}
#footer a {
  color: #fff;
}

#footer .ft-top {
  background-color: #1e3160;
}

#footer .btn-donate {
  background-color: #ce2028;
  position: relative;
}
#footer .btn-donate::before,
#footer .btn-donate::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #c00;
  right: -2000px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 0;
}
#footer .border-top {
  border-top: 1px solid rgba(255,255,255,.2)!important;
}
#footer strong {
  color: #fff;
}

.btn-donate span {
  position: relative;
  z-index: 1;
  color: #fff;
  padding: 2px 10px;
  border: 2px solid #fff;
}

#menu-footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu-footer-links li::before {
  content: "\f138";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  margin-right: 12px;
  transition: all .3s ease;
  opacity: .6;
}
#menu-footer-links li:hover::before {
  transform: translateX(5px);
  opacity: 1;
}
.navbar-light {
  box-shadow: 0 -5px 30px rgba(78, 82, 99, 0.3);
}


.home-section {
  padding: 90px 0;
}
#hero {
  position: relative;
  border-bottom: 4px solid #ce2128;
  /* height: 80vh; */
}

#hero .social-icons {
  position: absolute;
  right: 50px;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#hero .social-icons li {
  margin-bottom: 10px;
}

/* ABOUT SECTION */
#about h1 {
  font-weight: 300;
  margin-bottom: 1rem;
}
#about h1 strong{
  font-weight: 600;
}
#about p {
  font-size: 1.4rem;
}

#aalstem-actions {
  margin-bottom: -140px;
}
#aalstem-actions + section {
    padding: 220px 0 90px !important;
}
#aalstem-actions a {
  color: #d2d2d2;
}
#aalstem-actions h5 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  transition: color .4s ease;
  letter-spacing: 2px;
}
#aalstem-actions i {
  color: #fff;
  font-size: 66px;
  display: block;
  opacity: 0.7;
  transition: all .45s ease;
  margin-bottom: 30px;
}
#aalstem-actions .action-item {
  color: #d2d2d2;
  text-align: center;
  border-radius: 3px;
  font-size: 16px;
}
#aalstem-actions .action-item a,
#aalstem-actions .action-item.donations {
  display: table;
  width: 100%;
  padding: 50px 10px 70px;
  height: 100%;
  transition: all .45s ease;
}
#aalstem-actions .volunteer {
  background-color: #1f325f;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(14, 30, 64, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(14, 30, 64, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(14, 30, 64, 0.43);
}
#aalstem-actions .sponsorship {
  background-color: #1f325f;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(20, 70, 140, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(20, 70, 140, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(20, 70, 140, 0.43);
}
#aalstem-actions .action-item.donations {
  padding-bottom: 35px;
  background-color: #ce2128;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(191, 13, 62, 0.43);
}

#aalstem-actions .donations h5 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}

#aalstem-actions #give-donation-level-button-wrap {
  clear: none;
  margin: 0;
  float: left;
  width: 77%;
}
#aalstem-actions #give-donation-level-button-wrap>li {
  margin: 0;
  float: none;
  width: 20%;
  display: inline-block;
}
#aalstem-actions .give-total-wrap {
  margin: auto;
  width: 200px;
  margin-bottom: 25px;
  border-radius: 30px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}
#aalstem-actions .give-total-wrap>div {
  margin: 0 !important;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#aalstem-actions .give-total-wrap>div>span {
  display: none;
}
#aalstem-actions .give-total-wrap>div>input {
  text-align: center;
  border: 0 !important;
  background-color: transparent !important;
  padding: 0 !important;
  font-weight: bold;
  color: #fff;
  font-size: 27px !important;
  height: 44px !important;
  float: none;
  max-width: unset;
  width: auto;
}
#aalstem-actions .give-total-wrap>div>input {
}

#aalstem-actions .give-donation-level-btn,
#aalstem-actions .give-btn-modal{
  border: 2px solid #fff;
  background: transparent;
  width: 92%;
  padding: 8px 5px;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 0 5px !important;
  vertical-align: top;
}

#aalstem-actions .give-donation-level-btn:hover,
#aalstem-actions .give-donation-level-btn:focus,
#aalstem-actions .give-donation-level-btn:active,
#aalstem-actions .give-donation-level-btn.give-default-level {
  background: #fff;
  color: #ce2228;
  outline: none;
}

#aalstem-actions .give-btn-modal {
  float: left;
  color: #fff;
  width: 21%;
  padding: 8px 0;
  display: inline-block;
  border-color: #0d2f5d;
  background-color: #0d2f5d;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
}
#aalstem-actions .give-btn-modal:hover {
  box-shadow: none;
  border-color: #fff;
  background-color: #fff;
  color: #0d2f5d;
}

#aalstem-actions .chose-donate {
  font-size: 0;
  margin: 0 -5px -10px;
}

.chose-donate .chose-item {
  border: 2px solid #fff;
  background: transparent;
}

.chose-donate > * {
  width: 90px;
  padding: 9px 5px;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin: 0 5px 10px;
  vertical-align: top;
}

#aalstem-actions .chose-donate .btn {
  color: #fff;
  width: auto;
  padding: 5px 15px;
  display: inline-block;
  border: 2px solid #0d2f5d;
  font-size: 24px;
}

.chose-donate .chose-item:hover,
.chose-donate .chose-item.active {
    background: #fff;
    color: #ce2228;
}

#aalstem-actions .chose-donate .btn.btn-primary:hover {
  box-shadow: none;
  border-color: #fff;
  background-color: #fff;
  color: #0d2f5d;
}




/******** RECENT UPDATES ********/
#recent-updates [class^="widget-"]{
  padding: 30px 30px 75px 30px;
  position: relative;
}
.widget-instagram {
  background: #0e1e40;
}
.widget-upcoming {
  background: #fff;
}
.widget-youtube {
  background: #ce2028;
}

.info-link {
  position: absolute;
  left: 30px;
  bottom: 25px;
}

#recent-updates header i {
  font-size: 1.5em;
}




#upcoming-events h4 {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: #ce2028;
}
#upcoming-events h6 {
  font-size: 14px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}
#upcoming-events .event-date {
  background-color: #ce2028;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0;
}
#upcoming-events .event-month {
  font-size: 14px;
  line-height: 1;
}
#upcoming-events .event-day {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}

#upcoming-events .event-info-item {
  font-size: 14px;
  color: #999;
  line-height: 1.6;
}
#upcoming-events .event-info-item i,
#upcoming-events a {
  color: #333;
}

.widget-holder .entry{
  position: relative;
  height: 100%;
}

.widget-holder .entry,
.widget-holder .entry .entry-attachment,
.widget-holder .entry .entry-attachment figure{
  height: 100%;
}

.widget-holder .entry .entry-body{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 30px 25px;
  padding-bottom: 60px;
  color: #fff;
  width: 100%;
}
.widget-holder .entry .entry-body>*:not(.info-link) {
  position: relative;
  z-index: 1;
}
.widget-holder .entry .entry-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 0;
  background: -webkit-linear-gradient(top, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
}

  .widget-holder .entry .entry-title a,
  .widget-holder .entry h6{
    color: #fff;
  }

  .widget-holder .entry .entry-title a{
    border-bottom: 1px solid transparent;
  }

  .widget-holder .entry .entry-title a:hover{
    border-bottom-color: inherit;
  }

  .widget-holder .entry .thumbnail-attachment img{
    width: 100%;
    height: 100%;
  }

  .widget-holder .entry h6{
    font-size: 16px;
    text-transform: uppercase;
  }

  .widget-holder .entry h6:not(:last-child){
    margin-bottom: 15px;
  }

  .widget-holder .entry .entry-title:not(:last-child){
    margin-bottom: 5px;
  }

  .widget-holder .post-date{
    color: #e7ecf3;
    font-size: 14px;
  }

/*----------- Testimonials --------------*/
.testimonial:not(:last-child){margin-bottom: 40px;}

.testimonial blockquote{
  color: #333;
  font-size: 20px;
  padding: 0;
}

.testimonial h6{
  color: #4b4e50;
  font-weight: 600;
  line-height: 20px;
}

.testimonial h6:not(:last-child){margin-bottom: 20px;}

.testimonial .author-box{
  overflow: hidden;
  line-height: 22px;
  display: table;
}

.testimonial .author-box > *{
  display: table-cell;
  vertical-align: middle;
}

.testimonial:not(.type-2):not(.testimonial-single) .avatar{padding-right: 20px;}

.testimonial .avatar img {
  border-radius: 50%;
  height: auto;
}

.testimonial .author-name{
  font-size: 18px;
  display: block;
  color: #ce2228;
}

.testimonial .author-position,
.testimonial .author-about,
.testimonial .author-company{
  display: block;
  font-size: 16px;
  color: #666;
}

.testimonial .author-name:not(:last-child){
  margin-bottom: 2px;
}

.testimonial .author-position:not(:last-child){
  margin-bottom: 2px;
}

.testimonial .testimonial-holder{margin-bottom: 20px;}

.testimonial.testimonial-single{
  overflow: hidden;
}

.testimonial.testimonial-single .author-box{
  float: left;
  width: 30%;
  margin-right: 30px;
  max-width: 263px;
}

.testimonial.testimonial-single .testimonial-holder{
  float: left;
  width: 67%;
  padding-top: 30px;
}

.testimonial.testimonial-single blockquote:not(:last-child){
  margin-bottom: 20px;
}

.testimonial.testimonial-single blockquote{
  position: relative;
}

.testimonial.testimonial-single blockquote:before{
  content: '“';
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 72px;
  text-align: center;
  position: absolute;
  border-radius: 50px;
  right: 100%;
  margin-right: 30px;
  margin-top: -15px;
  top: 0;
  width: 68px;
  height: 68px;
  line-height: 100px;
  background: #fff;
  color: #14468c;
  z-index: 9;
}

.owl-dots .owl-dot{
  width: 12px;
  height: 12px;
}

  .owl-dots .owl-dot{
    display: block;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;

    -webkit-transition: all .35s ease;
            transition: all .35s ease;
  }

  #testimonials .owl-dots{
    position: absolute;
    right: 0;
    top: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #testimonials .owl-dots .owl-dot{
    display: block;
  }

  #testimonials .owl-dots .owl-dot:not(:last-child){
    margin-bottom: 10px;
  }
  .owl-theme .owl-dots .owl-dot span {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 2px solid #ccc;
  }

  .owl-theme .owl-dots .owl-dot.active span{
    background-color: #14468c;
    border: 0;
  }
  .owl-carousel .animated{
    -webkit-animation-duration: 1s;
        -ms-animation-duration: 1s;
            animation-duration: 1s;
  }

#testimonials .btn:hover {
  background: #1f325f;
  border-color: #1f325f;
  color: #fff;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
}


#partners-sponsors img {
  height: 70px;
  width: auto;
  margin: 5px;
}


.newsletter-form .form-control {
  background: transparent;
  /* box-shadow: none; */
  border: 0;
  border-radius: 0;
}
.social-icons {
  list-style: none;
}
.social-icons > li > a{
  text-align: center;
  line-height: 46px;
  width: 50px;
  height: 50px;
  display: block;
  border: 2px solid #888f9f;
  border-radius: 50px;
  color: #1f325f;
}

.social-icons > li > a:hover{
  border-color: #333;
}

#footer .social-icons > li > a {
  color: rgba(255,255,255,.5);
  border-color: rgba(255,255,255,.1);
}
#footer .social-icons > li > a:hover {
  color: rgba(255,255,255,1);
  border-color: rgba(255,255,255,1);
}

/* SIDEBAR */
#sidebar [class^="widget-"] {
  padding: 30px 30px 75px 30px;
  position: relative;
}
#sidebar .widget-search {
  padding:  30px;
}
#sidebar .search-form input,
#sidebar .search-form button {
  border-radius: 0;
}
#sidebar .search-form button {
  margin-left: -2px;
  font-size: 20px;
  padding: 10px 0;
}
#sidebar .widget-upcoming {
  padding: 0 0 75px 0;
}

#sidebar .widget-upcoming .info-link {
  left: 0px;
  bottom: 25px;
}

/* NEWS SECTION */

.entry-date{
  background: #0d2f5d;
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px 5px;
  font-family: 'Lato', sans-serif;
  margin-top: 75px;
}

.entry-date:before{
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  font-family: "Font Awesome\ 5 Free";
  content: "\f017";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background: #14468c;
  color: #b3c2d6;
  font-size: 42px;
  text-align: center;
}


.entry-date .event-month{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.entry-date .entry-day{
  font-weight: 900;
  font-size: 30px;
  padding-bottom: 10px;
}

.post-info .entry-link {
  font-family: 'Lato', sans-serif;
  line-height: 1.33em;
  font-weight: normal;
  font-size: 30px;
}

.post-info .entry-link a {
  color: #333;
}

.post-info .entry-meta{
  color: #999;
  font-size: 14px;
}

.post-info .entry-meta a{
  color: #14468c;
}

.post-info .entry-meta a:hover{
  text-decoration: underline;
}

.post-info header h4.event-link{
  line-height: 36px;
}

.post-info .entry-meta > *:not(:last-child):after{
  content: '/';
  display: inline-block;
  margin: 0 5px;
  color: #999;
}

.post-info header:not(:last-child){
  margin-bottom: 10px;
}

.event-item .post-info .event-link + .entry-meta{
  margin-top: -10px;
}

.post-info .entry-meta:not(:last-child){
  margin-bottom: 10px;
}

.single-post p {
  font-size: 1.25rem;
}

/* Breadcrumbs */
.breadcrumbs-wrap{
  padding: 60px 20px;
  background-color: #1e3160;
  position: relative;
  overflow: hidden;
}
.breadcrumbs-wrap::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.breadcrumbs-wrap img {
  height: 60px;
  width: auto;
  opacity: .1;
  position: absolute;
  top: 0;
  left: 0;
}
img.antenna {
  left: unset;
  right: 32%;
  top: 40%;
  opacity: .3;
}
img.science {
  left: 32%;
  top: 40%;
  opacity: .3;
}
img.infinity {
  top: unset;
  left: 48%;
  bottom: .5rem;
  opacity: .3;
}
img.gear {
  left: 1rem;
  top: 1rem;
  height: 50%;
  opacity: 1;
}
img.bulb {
  left: unset;
  right: 1%;
  top: 1rem;
  height: 100%;
}
img.energy {
  left: unset;
  top: 7rem;
  opacity: 1;
  right: 20%;
}
img.puzzle {
  left: 18%;
  top: 2rem;
}
img.atom {
  top: unset;
  left: 18%;
  bottom: 16%;
  opacity: 1;
}
img.oval1 {
  opacity: 1;
}
img.oval2 {
  top: unset;
  left: unset;
  right: 0;
  bottom: 0;
  opacity: 1;
}
img.oval3 {
  top: unset;
  left: unset;
  right: 20%;
  bottom: 30%;
  opacity: 1;
}

.breadcrumbs-wrap .page-title:not(:last-child){
  margin-bottom: 5px;
}

.breadcrumbs-wrap .page-title{
  font-size: 48px;
  color: #fff;
  font-weight: 900;
  line-height: 44px;
}

.breadcrumbs-wrap .breadcrumbs{
  color: #fff;
}

.breadcrumbs-wrap .breadcrumbs > li{
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.breadcrumbs-wrap .breadcrumbs > li > a{
  color: hsl(0,0%,100%, .5);
}

.breadcrumbs-wrap .breadcrumbs > li > a:hover{
  text-decoration: underline;
}

.breadcrumbs > li:not(:first-child):before{
  content: "/";
  display: inline-block;
  vertical-align: middle;
  color: #999;
  margin-right: 5px;
}

/* Sign In & Sign Up */
.page-template-template-signin {
  background-color: #e7ecf3 !important;
  padding-top: 0 !important;
}
.page-template-template-signin #header {
  border-bottom: 1px solid transparent;
  background-color: #e7ecf3 !important;
  box-shadow: none !important;
  position: relative !important;
}
.page-template-template-signin #footer {
  margin-top: 0;
}

.signup-page .header {
  padding: 100px 0 180px 0;
  text-align: center;
}
.signup-page .header a{
  color: #ce2028;
}
.signup-page .header a:hover {
  color: #1e3160;
}
.signup-page .header h1{
  margin-bottom: 50px;
  font-weight: 900;
  color: #ce2028;
}


.signup-page .signup-form {
  background-color: #fff;
}
.signup-page .form-content {
  text-indent: -999999px;
  max-width: 780px;
  margin: auto;
  background-color: #fff;
  padding: 5rem;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-100px);
}

.signup-page .form-content > div {
  text-indent: 0;
}

.tml-register .message,
.tml-lostpassword .message,
.tml-resetpass .message
 {
  display: none;
}

.signup-page .input {
  width: 100%;
}
.signup-page .btn {
  margin-top: 10px;
}
.tml-rememberme-wrap label {
  display: inline-block;
  margin-left: 7px;
}
.tml-action-links {
  padding: 0;
  list-style: none;
  float: right;
  margin-top: -58px;
}

.tml-action-links li {
  position: relative;
  display: inline-block;
}

.tml-action-links li::after {
  content: "|";
  display: inline-block;
  padding: 0 20px;
  font-size: 10px;
  color: #888;
  transform: translateY(-2px);
}
.tml-action-links li:last-child::after {
  display: none;
}


/* NOTICE MESSAGES */
.aalstem-notice {
  position: relative;
}
.aalstem-notice .error,
.aalstem-notice .message {
  position: relative;
  margin: 15px 0;
  background: #f9f9f9;
  padding: 1em 1em 1em 2em;
  border-left: 4px solid #ce2028;
  box-shadow: 0 1px 1px rgba(0,0,0,.125);
  clear: both;
}
.aalstem-notice .error::before,
.aalstem-notice .message::before {
  font-family: give-icomoon;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  font-size: 16px;
  margin-top: -15px;
  left: -17px;
  background-color: #ce2028;
  color: #FFF;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 30px;
  text-shadow: 1px 1px rgba(0,0,0,.5);
  content: '\f02d';
}

.aalstem-notice .message {
  border-color: #7ad03a;
}
.aalstem-notice .message:before {
  background-color: #7ad03a;
  content: '\e601';
  text-shadow: 1px 1px rgba(0,0,0,.2);
}
#accordion {
  text-align: left;
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 25px 0px rgba(187, 187, 187, 0.43);
  -moz-box-shadow: 0px 5px 25px 0px rgba(187, 187, 187, 0.43);
  box-shadow: 0px 5px 25px 0px rgba(187, 187, 187, 0.43);
}
#accordion .card {
  border: 0;
}
#accordion .card:not(:last-child) {
  border-bottom: 2px solid #e5e5e5;
  border-radius: 0;
}
#accordion .card:first-child,
#accordion .card:first-child .card-header .btn {
  border-radius: 3px 3px 0 0;
}
#accordion .card:last-child,
#accordion .card-header .btn:not([aria-expanded="true"]) {
  border-radius: 0 0 3px 3px;
}
.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.0);
  border-bottom: 0px solid rgba(0,0,0,.125);
  border-radius: 0 !important;
}

.card-header .btn {
  display: block;
  width: 100%;
  text-align: left;
  white-space: normal;
  position: relative;
  color: #14468c;
  padding: 10px 70px 10px 30px;
  margin-bottom: 0;
  transition: all .4s ease;
  border-radius: 0;
}

.card-header .btn[aria-expanded="true"] {
  background-color: #14468c;
  color: #fff;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(20, 70, 140, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(20, 70, 140, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(20, 70, 140, 0.43);
}

.card-body {
  padding: 2.5rem 1.25rem 1.25rem;
}


/* JOB LISTINGS */
.jobs-listings {
  overflow: hidden;
}
.jobs-listings .items-wrapper {
  position: relative;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.jobs-listings .items-wrapper::after {
  content: "";
  display: block;
  width: 120px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -120px;
  z-index: 0;
  background: linear-gradient(to right,#e7ecf3,transparent);
}
.job-item {
  border-left: 4px solid #14468c;
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}
.job-item a:hover {
  color: #000;
}
.job-item h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
}
.job-item a:hover h2 {
  color: #ce2128;
}
.job-item .price {
  font-size: 16px;
  line-height: 26px;
}
.job-item .time-ago {
  background-color: #eceefd;
  color: #6072f2;
  font-weight: 600;
  font-size: 11px;
  padding: 2px 7px;
  border-radius: 30px;
}
.job-item span {
  font-size: 13px;
  line-height: 26px;
  font-weight: 600;
}
.job-item a img {
  transition: all .3s ease;
}
.job-item a:hover img {
  transform: scale(1.2)
}

.job-item .skills-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.job-item .skills-list li {
  display: inline-block;
  border: 1px solid #ddd;
  text-transform: uppercase;
  font-size: 9px;
  padding: 2px 7px;
  border-radius: 30px;
}

/* EVENTS PAGE */
.featured-event {
  background-color: #ce2128;
  color: #fff;
  position: relative;
}
.featured-event::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #1f325f;
  background-image: url('https://mywebsitetester.com/wp-content/uploads/2018/03/flyer-featured-2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.featured-event .sub {
  background-color: #fff;
  color: #ce2128;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  display: inline-block;
  padding: 7px 12px;
  text-transform: uppercase;
}
.featured-event .sub::before {
  content: '';
  width: 0;
  height: 0;
  top: 100%;
  left: 5px;
  display: block;
  position: absolute;
  border-style: solid;
  border-width: 0 0 8px 8px;
  border-color: transparent;
  border-left-color: #fff;
}
.featured-event .btn-primary:hover {
  background: #eee;
  color: #1f325f;
  border-color: transparent;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
}
.aalstem-event-item {
  box-shadow: 0px 2px 6px rgba(0,0,0,.1);
}
.aalstem-event-item h2 {
  font-size: 22px;
}

.aalstem-event-item .past-flyer {
  background-color: #1f325f;
  background-position: center center;
  background-size: cover;
  transition-duration: 1s;
  height: 250px;
  width: 100%;
  display: block;
}
.aalstem-event-item .past-flyer:hover {
  background-position: center bottom;
}

.countdown {
  display: block;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: right;
  font-weight: 200;
  font-size: 14px;
  width: 100%;
}
.countdown>div{
  display: flex;
  flex-direction: row;
}
.countdown .time-box {
  display: inline-block;
  background-color: rgba(0,0,0,.1);
  text-align: center;
  margin: 0 1px;
  width: 100%;
}
.countdown .time-box .time {
  width: 100%;
  display: block;
  padding: 12px;
  font-size: 27px;
}
.countdown .time-box .label {
  width: 100%;
  display: block;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  padding: 3px 8px;
  text-transform: uppercase;
  font-weight: 400;
}

/* SINGLE EVENT */
.aalstem-single-event p {
  font-weight: 400;
}
.aalstem-single-event blockquote {
  background-color: rgba(0,0,0,.2);
  padding: 20px;
  font-size: 14px;
}
.aalstem-single-event blockquote p {
  margin-bottom: 0;
}
.tribe-events-single-event-title {
  font-size: 30px;
  font-weight: 600;
}
.tribe-events-event-image {
  margin-bottom: 0 !important;
}
.tribe-events-event-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* COMPANIES PAGE */
.companies-grid {
  background-color: #f1f1f1;
}
.companies-grid .company-brand {

}
.companies-grid .company-brand:hoverf {
  box-shadow: 1px 13px 25px rgba(0,0,0,0.1);
}
.companies-grid .company-brand img {
  width: 100%;
  height: auto;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #e7ecf3;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline h2 {
  font-size: 1.6rem;
}
.timeline p {
  color: hsla(360, 100%, 100%, 0.5);
}

/* Container around content */
.container-left,
.container-right {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container-left::after,
.container-right::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #ce2128;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.container-left {
    left: 0;
}

/* Place the container to the right */
.container-right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.container-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #20335f;
}

/* Add arrows to the right container (pointing left) */
.container-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #20335f transparent transparent;
}

/* Fix the circle for containers on the right side */
.container-right::after {
    left: -12px;
}

/* The actual content */
.timelime .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container-left,
  .container-right {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container-left::before,
  .container-right::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .container-left::after,
  .container-right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .container-right {
    left: 0%;
  }
}

/* TEAM MEMBERS */
.team-member img{
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
}
.team-member .linkedin {
  transition: box-shadow .3s ease;
  margin: -20px auto 0;
  background-color: #ce2128;
  color: #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 100%;
  font-size: 18px;

}
.team-member:hover .linkedin {
  /* transform: scale(1.2); */
  box-shadow:
    0 0px 0 4px rgba(203, 33, 40,.3),
    0 0px 0 8px rgba(203, 33, 40,.2),
    0 0px 0 12px rgba(203, 33, 40,.1)
  ;
}
.team-member .card-body {
  padding-top: 1.5rem;
}
.team-member h5 {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: calc(.2em + 1vw);
}
.team-member p {
  color: #777;
  font-size: 14px;
}

/* FORM ELEMENTS */
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=input],
textarea,
select,
.acf-input-wrap input {
  border: 2px solid #eee;
  border-radius: 3px;
  /* width: 100%!important; */
  padding: 10px 20px;
  height: 50px;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}
textarea {
  height: auto;
}

label {
  font-size: 15px;
  /* font-size: 1.5rem; */
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: #353535;
  letter-spacing: 0;
  margin-bottom: 0;
  display: block;
}

.btn {
  padding: 10px 30px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: transparent;
  color: #333;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.btn-primary {
  background: #1f325f;
  border-color: #1f325f;
  color: #fff;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
}

.btn-primary:hover {
  background: #ce2028;
  border-color: #ce2028;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(191, 13, 61, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(191, 13, 61, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(191, 13, 61, 0.43);
}


.btn-default {
  padding: 10px 30px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 3px;
  background: #eee;
  color: #333;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.8px;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(187, 187, 187, 0.43);
}

.btn-link:hover,
.btn-link:focus {
  text-decoration: none;
}

/* .btn-primary {
  background: #0d2f5d;
  color: #fff;
  -webkit-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  -moz-box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
  box-shadow: 0px 12px 25px 0px rgba(13, 47, 93, 0.43);
} */

.no-chev::after {
  display: none;
}


.page-template-template-programs section p {
  font-size: 1.4rem;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  img.alignright,
  img.alignleft,
  img.aligncenter,
  a img.alignright,
  a img.alignleft,
  a img.aligncenter {
    display: block;
    margin: 1rem auto;
    width: 100%;
    height: auto;
  }
  #aalstem-actions #give-donation-level-button-wrap {
    width: 76%;
  }

}
@media screen and (max-width: 992px) {

  .testimonial.testimonial-single .testimonial-holder {
    width: 90%;
  }

  #aalstem-actions .donations h5 {
    font-size: 30px;
    letter-spacing: 0;
  }
  #aalstem-actions #give-donation-level-button-wrap {
    width: 100%;
  }

  #aalstem-actions .give-btn-modal {
    width: 98%;
  }
  #aalstem-actions .give-donation-level-btn,
  #aalstem-actions .give-btn-modal {
    font-size: 16px;
    margin-bottom: 10px !important;
  }
  .featured-event>div {
    max-width: 100%;
  }
  .featured-event::after {
    width: 40%;
  }

  .team-member h5 {
    font-size: calc(.5em + 1vw);
  }

}

@media screen and (max-width: 768px) {
  body:not(.home) {
    padding-top: 76px;
  }
  h1 {
    font-size: 1.8rem;
  }


  #header .give-display-button {
    margin-left: 0;
    margin-right: 12px;
    position: relative;
    top: -2px;
  }
  #header .give-btn-modal {
    font-size: 12px;
    margin-bottom: 0 !important;
  }
  .offcanvas-collapse {
    left: 0;
    right: auto;
    padding-top: 100px;
    width: 100%;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  #header .navbar-nav {
    text-align: left;
  }

  #hero .social-icons {
    right: 0;
    padding-left: 0;
    width: 100%;
    top: auto;
    bottom: 20px;
    margin: 0;
    text-align: center;
    transform: none;
  }
  #hero .social-icons li {
    margin: 0 3px;
    display: inline-block;
  }
  .home-section {
    padding: 50px 0;
  }

  #aalstem-actions .action-item a,
  #aalstem-actions .action-item.donations {
    padding: 40px 10px 30px;
  }
  #aalstem-actions .volunteer {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #aalstem-actions .action-item.donations {
    border-radius: 0;
  }
  #aalstem-actions .donations h5 {
    font-size: 24px;
  }
  #aalstem-actions #give-donation-level-button-wrap {
    width: 98%;
  }
  #give-donation-level-button-wrap {
    margin-left: 0;
  }

  .chose-donate .chose-item {
    border: 2px solid #fff;
    padding: 5px;
    width: 21%;
    font-size: 18px;
    font-weight: bold;
  }
  #aalstem-actions .give-btn-modal {
    width: 97% !important;
  }



  #aalstem-actions .sponsorship {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  #about p {
    font-size: 1rem;
  }
  #recent-updates.home-section {
    padding-bottom: 0 !important;
  }
  #partners-sponsors img {
    height: 50px;
  }
  .testimonial.testimonial-single .author-box {
      float: none;
      width: 90%;
      margin-right: 0;
      max-width: 140px;
      text-align: center;
      margin: 20px auto 0 auto;
  }
  .testimonial.testimonial-single .testimonial-holder {
    width: 100%;
  }
  #testimonials .owl-dots {
    right: auto;
    top: unset;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    bottom: -20px;
    width: 100%;
  }
  #testimonials .owl-dots .owl-dot,
  #testimonials .owl-dots .owl-dot:not(:last-child)  {
    display: inline-block;
    margin: 0 5px;
  }
  #footer .btn-donate::before {
      left: -2000px;
  }


  .social-icons > li {
    margin-right: 0;
  }
  .social-icons > li > a{
    line-height: 36px;
    font-size: 14px;
    width: 40px;
    height: 40px;
  }



  .breadcrumbs-wrap .page-title {
    font-size: 36px;
    line-height: 34px;
  }
  .signup-page .header {
    padding: 80px 0;
    text-align: center;
  }
  .signup-page .form-content {
    padding: 2rem;
    transform: translateY(0px);
  }
  .tml-action-links {
    float: none;
    margin-top: 50px;
    text-align: center;
  }
  .card-header .btn {
    padding: 7px 20px;
  }

  .featured-event::after {
    display: none;
  }

  .aalstem-event-map>div {
    height: 180px !important;
  }
  .page-template-template-programs section p,
  .testimonial-holder p {
    font-size: 1rem;
  }
  .team-member .card-body {
    padding-left: .5rem;
    padding-right: .5rem;
}
  .team-member h5 {
    font-size: .9rem;
  }
  input[type=date],
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=tel],
  input[type=text],
  input[type=input],
  textarea,
  .acf-input-wrap input {
    padding: 7px 10px;
  }

  img.atom,
  img.oval3 {
    opacity: .1;
    height: 40px;
  }
}
